<!DOCTYPE html>
<html>
<title>Login Page For LocalShop</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<body>    
    <centre> <h1> User Login Form </h1> </centre>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>
            <button type="button" class="registerbtn">Create Account</button>   
        </div>   
    </form>     
</body>   
</html>