<!DOCTYPE html>
<html>
<title>Registration Page For LocalShop</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<body>    
    <centre> <h1> User Registration Form </h1> </centre>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password1" required> 
            <label>Enter Password Again: </label> 
            <input type="password" placeholder="Enter Password Again" name="password2" required> 
            <button type="submit">Register</button>
        </div>   
    </form>     
</body>   
</html>